node-options="--tls-max-v1.2"
# Set registry back to the default official npm registry
registry=https://registry.npmjs.org/
# Since the project relies on React 18 but Next 15 expects React 19, bypass peer dependency conflicts automatically
legacy-peer-deps=true
